.newstudent{
    width: 80vw;
    margin: 0 auto;
    .title{
        padding: 5px;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 0 auto;
        .row1{
            width: 100%;
            display: flex;
            gap:15px;
            input{
                flex: 1;
            }

        }
        .row2{
            width: 100%;
            input{
                width:100%;
            }

        }
        .row3{
            width: 100%; 
            display: flex;
            gap:15px;           
            input{
                flex: 1;
            }

        }
        .row4{
            width: 100%; 
            display: flex;
            gap:15px;           
            input{
                flex: 1;
            }

        }
        .row5{
            width: 100%; 
            display: flex;
            gap:15px;           
            textarea{
              resize: none;
              width: 100%;
              margin-bottom: 10px;
              padding: 5px;
              border: 2px solid;
              border-radius: 5px;
            }

        }
        .submit{
            width: 100%;            
            input{
                width: 100%;
                background-color: #1976d2;
                border: none;
                color: white;
                font-size: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                &:hover{
                    background-color: #0b2d4e;
                    
                }
            }
        }
    }
}
input{
    outline: none;
    user-select: none;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
